lets_encrypt_node_red_flow.json
[{"id":"89c8209c.50cc5","type":"inject","z":"30603eb5.a48f92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 05 * * 1","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["95e7e4ab.78ae28"]]},{"id":"95e7e4ab.78ae28","type":"api-call-service","z":"30603eb5.a48f92","name":"","server":"1a8176b8.732339","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_restart","entityId":"","data":"{\"addon\":\"core_letsencrypt\"}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":120,"wires":[["aa5ce504.8b85f8"]]},{"id":"aa5ce504.8b85f8","type":"stoptimer","z":"30603eb5.a48f92","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":660,"y":120,"wires":[["bccd13c3.d3f2b"],[]]},{"id":"bccd13c3.d3f2b","type":"api-call-service","z":"30603eb5.a48f92","name":"","server":"1a8176b8.732339","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"restart","entityId":"","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":120,"wires":[[]]},{"id":"1a8176b8.732339","type":"server","name":"Home Assistant","addon":true}]
